.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: blue;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.container-interno {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(212, 212, 228);
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 10px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

input, select {
  width: 95%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

select {
  width: 100%;
}

h2 {
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}